@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-[5px];
}

*::-webkit-scrollbar-track {
  @apply bg-white;
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

.text-primary-text {
  @apply text-slate-800;
}

.px-container {
  @apply px-5 sm:px-10 md:px-12 lg:px-20 xl:px-32;
}

.text-hero-title {
  @apply text-[40px] font-semibold leading-none sm:text-[50px] md:max-w-2xl lg:text-[60px];
}

.text-hero-subtitle {
  @apply text-lg text-slate-100 sm:text-xl lg:text-2xl;
}
